.carousel-area{
    margin: 0 50px;
    background-color: #EBFAEB;
    max-width: 1820px;
    height: 878px;
    border-radius: 30px;
    display: flex;
}

.carousel-text{
    max-width: 976px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
    gap: 20px;
    flex-grow: 1;
}

.carousel-text h2{
    color: var(--green-color);
    font-size: 32px;
    font-weight: 500;
    line-height: 41px;
}

.carousel-text h1{
    font-size: 70px;
    color: var(--text-color);
    line-height: 90px;
    margin-bottom: 5px;
}

.carousel-text p{
    font-size: 22px;
    color: var(--deep-gray-color);
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 28px;
}

.carousel-text button{
    height: 60px;
    width: 200px;
    border-radius: 100px;
    background-color: var(--green-color);
    color: white;
    font-size: 18px;
    transition: background-color var(--transition) ease-in-out;
}

.carousel-text button:hover{
    background-color: var(--deep-gray-color);
}

.carousel{
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.carousel-slider{
    display: flex;
    align-items: flex-end;
}

.carousel-nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 11px;
    right: 83px;
}

.carousel-nav a{
    display: block;
    width: 14px;
    aspect-ratio: 1;
    border-radius: 100px;
    background-color: #d3ddd3;
}

.current-slide{
    background-color: var(--text-color-2) !important;
    box-shadow: 
    0 0 0 2.5px white,
    0 0 0 3px var(--text-color-2);
}