/* Category section */

.category-area {
    margin-block-end: 3.75rem;
}

.category-slider {
    padding: 2.5rem 0;
    gap: 1.875rem;
}

.category-slide {
    aspect-ratio: 260/220;
    gap: 1.25rem;
    padding-inline: clamp(10px, 2.3vw, 45px);
    padding-block: clamp(5px, 2.3vw, 35px);
    background: #f7f7f7;
    border: 1px solid var(--light-gray-color);
    cursor: pointer;
}

.category-slide img {
    padding-inline: clamp(15px, 1.8vw, 35px);
}

.category-slide:hover {
    background: var(--gray-color);
}

.category-slide h4 {
    font-size: 1.25rem;
    font-weight: 500;
}
