header{
}

.header{
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    row-gap: 1rem;
    padding: 2.5rem 0 1.875rem 0;
    grid-template-areas: 
    "l l l l l . . s s s s s s s s s s s . a a a a a"
    "c c c c c . . m m m m m m m m m m m . o o o o o"
    ;
}

.logo{
    grid-area: l;
    align-self: center;
    min-width: 150px;
}

    /* Sticky header area */

.sticky{
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    background: white;
    z-index: 999;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform .3s ease-in-out,
                opacity .3s ease-in-out;
}

.sticking{
    opacity: 1;
    transform: translateY(0%);
}

.sticky .header{
    grid-template-areas: "l l l l l . . m m m m m m m m m m m . a a a a a";
    padding-block: .625rem;
}


    /* search area */

.search-area{
    justify-self: start;
    align-self: center;
    grid-area: s;
}

.search-area form{
    position: relative;
}

.search-area form img{
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-45%);
}

.search-area form input{
    width: clamp(250px, 45vw, 667px);
    height: clamp(30px, 4vw, 60px);
    border-radius: 100px;
    font-size: 1rem;
    padding-left: 3.75rem;
    padding-right: clamp(75px, 25%, 9.6875rem);
    border: .0625rem solid var(--gray-color);
    outline: none;
}

::placeholder {
    color: #BDBDBD;
    opacity: 1; /* Firefox */
  }

.search-area form input::-webkit-search-cancel-button{
    padding: .1563rem;
    margin-left: .625rem;
}

.search-area form button{
    position: absolute;
    top: .3125rem;
    right: .3125rem;
    bottom: .3125rem;
    width: clamp(6.25rem, 8vw ,9.0625rem);
    border-radius: 6.25rem;
    font-size: var(--font-size);
    background-color: var(--deep-gray-color);
    color: white;
    transition: background-color var(--transition) ease-in-out;
}

.search-area form button:hover{
    background-color: var(--green-color);
}

    /* account-area */

.account-area{
    display: flex;
    justify-content: center;
    grid-area: a;
    align-items: center;
    justify-self: end;
}

.account-area i{
    font-size: 1.45rem;
    color: var(--deep-gray-color);
}

.cart-btn{
    position: relative;
}

.cart-btn > span{
    position: absolute;
    top: 0;
    right: 0;
    width: 1.25rem;
    aspect-ratio: 1;
    background-color: var(--text-color-2);
    border-radius: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .75rem;
}

.cart-logo{
    width: 1.5rem;
    aspect-ratio: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 .3125rem .4375rem -0.3125rem gray;
}

.user-btn{
    background-color: var(--light-gray-color);
    margin: 0 .625rem 0 2.5rem;
}

.account-area > span{
    font-size: var(--font-size);
    color: var(--deep-gray-color);
}

    /* category button */

.category-btn{
    grid-area: c;
    align-self: center;
}

.category-btn button{
    width: clamp(15.625rem, 25vw, 25.3125rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--green-color);
    color: white;
    font-size: 1.125rem;
    padding-inline: clamp(1.25rem, 2vw, 2.1875rem);
    padding-block: clamp(.4375rem, 1vw, 1rem);
    border-radius: 6.25rem;
}

.category-btn button span{
    margin-inline: .9375rem;
}

    /* menu area */

.menu-area{
    justify-self: start;
    grid-area: m;
}

.menu_btn{
    position: relative;
    cursor: pointer;
    border: .125rem solid transparent;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: .1875rem;
    border-radius: .3rem;
}

.bar-1, .bar-2, .bar-3{
    width: 24px;
    height: 3px;
    background-color: var(--deep-gray-color);
    transform-origin: center;
    transition: translate 100ms ease-in 100ms,
                rotate 100ms ease-in,
                width 0ms;
}

nav{
    justify-self: center;
    display: flex;
    gap: 3.125rem;
    padding-block: .75rem .1875rem;
}

nav button{
    font-size: var(--font-size);
    color: var(--deep-gray-color);
    padding-bottom: .875rem;
    transition: color var(--transition) ease-in-out;
    background: transparent;
    display: flex;
}

nav button:hover{
    color: var(--green-color);
}

.active{
    border-bottom: .25rem solid !important;
    border-image: linear-gradient(to right, var(--green-color) 39%, transparent 39%) 1 !important;
}

nav button img{
    margin-left: 5px;
}

    /* special offers */

.special-offers{
    display: flex;
    justify-content: flex-end;
    grid-area: o;
    align-items: center;
}

.special-offers a{
    color: var(--text-color-2);
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .625rem;
}

.special-offers a:hover{
    text-decoration: underline;
}