@media (max-width: 1729px) {
    .container {
        margin-inline: clamp(10px, 1vw, 1rem);
    }

    /* header */

    .header {
        padding: 1rem 2rem;
        row-gap: 0.3125rem;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
            "l l l l o o o o a a a a"
            "c c c c s s s s s s s m";
    }

    .sticky .header {
        grid-template-columns: repeat(24, 1fr);
        grid-template-areas: "l l l l l l l l l l l l a a a a a a a a a a a m";
    }

    .header.container {
        margin-inline: auto;
    }

    .search-area {
        justify-self: center;
    }

    .search-area form input {
        padding-right: clamp(75px, 22%, 9.6875rem);
    }

    .user-btn {
        margin-inline: 0.625rem;
    }

    .menu-area {
        justify-self: end;
        align-self: center;
    }

    .menu-area .nav {
        display: none;
    }

    .menu-btn {
        display: flex;
    }

    .special-offers {
        justify-content: center;
    }

    /* Category side menu */

    .category-container >*{
        width: 100%;
    }

    .category-list li {
        padding: .625rem .9375rem;
    }

    /* hero section */

    .hero-section {
        padding: 1.25rem;
        border-radius: .9375rem;
        margin-bottom: 4.0625rem;
    }

    .hero-text-wrapper h2 {
        font-size: clamp(26px, 2.4vw, 32px);
    }

    .hero-text-wrapper h1 {
        font-size: clamp(34px, 3.15vw, 70px);
    }

    .hero-text-wrapper p {
        font-size: clamp(16px, 1.48vw, 22px);
    }

    .carousel-container {
        justify-content: center;
    }

    .carousel{
        margin: 0;
        width: 80%;
    }

    /* deal area */

    .deal-area {
        margin-bottom: 1.25rem;
    }

    .deal-slider button {
        padding-inline: clamp(5px, 23%, 75px);
    }

    .discount {
        top: 0.5rem;
        right: 0.5rem;
    }

    /* Brands area */

    .brands-area {
        margin-bottom: 1.25rem;
    }

    /* Collection area */

    .collection-area,
    .support-area {
        margin-bottom: 2.8125rem;
    }

    /* footer area */

    .footer-top {
        padding-block: 50px;
        grid-template-areas: "t t t t t t . a a . i i";
    }

    .footer-bottom {
        padding-bottom: 1.875rem;
    }
}

@media (max-width: 1079px) {
    html,
    body {
        font-size: 70%;
    }

    /* header */

    .header {
        padding: 0.5rem 1rem;
    }

    .sticky .header {
        grid-template-columns: repeat(24, 1fr);
        grid-template-areas: "l l l l l l l . . . . . . . . . . . . a a a a m";
    }

    .search-area form input {
        padding-right: clamp(75px, 19%, 9.6875rem);
    }

    .account-area > span {
        display: none;
    }

    .user-btn {
        margin-right: 0;
    }

    .menu-top .logo,
    .menu-top .logo img {
        width: 130px;
    }

    /* Category side menu */

    .category-container{
        width: 300px;
    }

    .category-container h3{
        padding-block: .9375rem;
    }

    /* hero section */    

    .hero-text-wrapper h2 {
        font-size: clamp(20px, 2.78vw, 26px);
    }

    .hero-text-wrapper h1 {
        font-size: clamp(26px, 3.62vw, 34px);
    }

    .hero-text-wrapper p {
        font-size: clamp(14px, 1.95vw, 16px);
    }

    /* deal area */

    .deal-slider button {
        padding-inline: clamp(5px, 15%, 75px);
    }

    /* collection area */

    .collection h3 {
        font-size: clamp(18px, 2.5vw, 32px);
    }

    /* Support area */

    .support-tile-details {
        margin: 0;
    }

    .support-tile-details h5 {
        font-size: clamp(11.5008px, 1.58vw, 17px);
    }

    .support-tile-details p {
        font-size: clamp(9.5008px, 1.4vw, 15px);
    }

    /* footer area */

    .footer-bottom {
        grid-template-areas:
            "m m m m m . . p p p p p"
            "c c c c c c c c c c c c";
    }
}

@media (max-width: 719px) {
    .main-container {
        max-width: 500px;
    }

    h1 {
        font-size: 2.4rem !important;
    }

    h2 {
        font-size: 1.8rem !important;
    }

    h3 {
        font-size: 1.7rem !important;
    }

    .btn {
        width: 3rem;
    }

    /* header */

    header {
        margin-bottom: 1rem !important;
    }

    .header {
        max-width: 500px;
        grid-template-areas:
            "l l l l l l . . a a a a"
            "s s s s s s s s s s s m"
            "c c c c c c o o o o o o";
    }

    .sticky .header {
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: "l l l l . . a a a a a m";
    }

    .search-area form img {
        width: 1.1rem;
        left: 4%;
    }

    .search-area form input {
        width: clamp(250px, 70vw, 400px);
        padding-left: 10%;
    }

    .search-area form button {
        top: 0.125rem;
        right: 0.125rem;
        bottom: 0.125rem;
    }

    .special-offers a {
        gap: 0.3125rem;
    }


    /* Category side menu */

    .category-container{
        width: 230px;
    }

    .category-container h3{
        font-size: 1.25rem !important;
    }

    .category-list li img{
        width: 12%;
    }

    .category-dropdown {
        padding-left: 2.875rem;
    }

    /* hero section */

    .hero-section {
        padding: 1rem;
        margin-bottom: 2.5rem;
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .hero-text-wrapper h2{
        margin-bottom: 1rem;
    }

    .hero-text-wrapper h1{
        margin-bottom: 1.25rem;
    }

    .hero-text-wrapper p{
        margin-bottom: 1.5rem;
    }

    .hero-text-wrapper button{
        padding: .5em 1.5em;
    }

    .carousel{
        max-width: 300px;
    }

    .carousel-nav{
        left: 0;
        top: auto;
        right: 0;
        bottom: 1%;
        transform: translateY(-50%);
        flex-direction: row;
        justify-content: center;
        gap: .8rem;
    }
   
    /* Category area */

    .category-area {
        margin-block-end: 0.625rem;
    }

    .category-btn button {
        width: auto;
        justify-self: center;
    }

    .category-btn button img {
        display: none;
    }

    .category-slide img {
        width: 80%;
        padding: 0;
    }

    /* Offers area */

    .offers-area {
        flex-wrap: wrap;
        margin-bottom: 2.5rem;
    }

    /* collection area */

    .collection-area {
        gap: 0.4375rem;
    }

    .collection {
        flex-direction: column-reverse;
        align-items: flex-start;
        border-radius: 10px;
    }

    .collection-details h3 {
        font-size: clamp(14px, 2.79vw, 20px) !important;
    }

    /* Support area */

    .support-area {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .support-icon{border-radius: .3125rem;
    }
    

    .support-tile-details h5 {
        font-size: clamp(9px, 2.8vw, 15px);
    }

    .support-tile-details p {
        font-size: clamp(7px, 2.3vw, 13px);
    }

    /* footer area */

    .footer-top {
        padding-block: 1.5rem;
        grid-template-areas:
            "t t t t t t t t t t t t"
            ". a a a a a a a i i i i";
    }

    .footer-text > * + * {
        margin-top: 1rem;
    }

    .footer-text p,
    .copyright {
        font-size: 1rem;
    }

    .footer-logo {
        width: clamp(180px, 45%, 220px);
    }

    .badge {
        margin-bottom: 28px;
        justify-content: space-evenly;
    }

    .badge a {
        height: 35px;
    }

    .badge a img {
        height: 100%;
    }

    .link li {
        margin-top: 0px;
    }

    .link li a {
        font-size: 1.15rem;
    }

    .footer-bottom {
        grid-template-areas:
            "m m m m m m m m m m m m "
            "p p p p p p p p p p p p "
            "c c c c c c c c c c c c ";
    }

    .media {
        place-self: center;
    }

    .media i {
        font-size: 18px;
    }

    .payment {
        justify-content: center;
    }

    .payment a {
        height: 65%;
    }

    .payment a img {
        height: 100%;
    }
}
