
@media (max-width: 1729px){

    .container{
        margin-inline: clamp(10px, 1vw, 1rem);
    }

    /* header */

    .header{
        padding: 1rem 2rem;
        row-gap: .3125rem;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
        "l l l l o o o o a a a a"
        "c c c c s s s s s s s m" ;
    }

    .sticky .header{
        grid-template-columns: repeat(24, 1fr);
        grid-template-areas: 
        "l l l l l l l l l l l l a a a a a a a a a a a m";
    }
    
    .header.container{
        margin-inline: auto;
    }

    .search-area{
        justify-self: center;
    }

    .search-area form input{
        padding-right: clamp(75px, 22%, 9.6875rem);
    }

    .user-btn{
        margin-inline: .625rem;
    }

    .menu-area{
        justify-self: end;
        align-self: center;
    }

    nav{
        display: none;
    }

    .menu_btn{
        display: flex;
    }

    .special-offers{
        justify-content: center;
    }
    

    /* carousel area */

    .carousel-area{
        min-height: auto;
    }

    .carousel-text-wrapper{
        width: 100%;
    }

    .carousel-text-wrapper h1{
        font-size: 3rem;
    }

    /* deal area */

    .deal-area{
        margin-bottom: 1.25rem;
    }

    .deal-slider button{
    padding-inline: clamp(5px, 23%, 75px);
    }
    
    .discount{
        top: .5rem;
        right: .5rem;
    }

    /* Brands area */

    .brands-area{
        margin-bottom: 1.25rem;
    }

    /* Collection area */

    .collection-area,
    .support-area{
    margin-bottom: 2.8125rem;
    }

    /* footer area */

    .footer-top{
        padding-block: 50px;
        grid-template-areas: "t t t t t t . a a . i i";
    }

    .footer-bottom{
        padding-bottom: 1.875rem;
    }

}


@media (max-width: 1079px){

    html, body{
        font-size: 70%;
    }

    /* header */

    .header{
        padding: .5rem 1rem;
    }

    .sticky .header{
        grid-template-columns: repeat(24, 1fr);
        grid-template-areas: 
        "l l l l l l l . . . . . . . . . . . . a a a a m";
    }

    .search-area form input{
        padding-right: clamp(75px, 19%, 9.6875rem);
    }

    .account-area > span{
        display: none;
    }

    /* deal area */

    .deal-slider button{
    padding-inline: clamp(5px, 15%, 75px);
    }

    /* collection area */

    .collection h3{
    font-size: clamp(18px, 2.5vw, 32px);
    }

    /* Support area */

    .support-tile-details{
        margin: 0;
    }

    .support-tile-details h5{
        font-size: clamp(11.5008px, 1.58vw, 17px);
    }

    .support-tile-details p{
        font-size: clamp(9.5008px, 1.4vw, 15px);
    }

    /* footer area */

    .footer-bottom{
        grid-template-areas: 
                            "m m m m m . . p p p p p"
                            "c c c c c c c c c c c c";
    }



}

@media (max-width: 719px){

    .main-container{
        max-width: 500px;
    }
    
    h1{
        font-size: 2.4rem !important;
    }
    
    h2{
        font-size: 1.8rem !important;
    }
    
    h3{
        font-size: 1.7rem !important;
    }

    .btn{
        width: 3rem;
    }

    /* header */

    header{
        margin-bottom: 1rem !important;
    }

    .header{
        max-width: 500px;
        grid-template-areas: 
        "l l l l l l . . a a a a"
        "s s s s s s s s s s s m"
        "c c c c c c o o o o o o" ;
    }

    .sticky .header{
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: "l l l l . . a a a a a m";
    }

    .search-area form img{
        width: 1.1rem;
        left: 4%;
    }

    .search-area form input{
        width: clamp(250px, 70vw, 400px);
        padding-left: 10%;
    }

    .search-area form button{
        top: .125rem;
        right: .125rem;
        bottom: .125rem;
    }

    .special-offers a{
        gap: .3125rem;
    }


    /* carousel area */

    .carousel-area{
        flex-direction: column-reverse;
        border-radius: 1rem;
        margin-bottom: 2.5rem;
    }

    .carousel-text{
        justify-content: center;
        padding: 0 1rem 1rem 1rem;
    }

    .carousel-text-wrapper button{
        font-size: 1.25rem;
    }

    .carousel-slider{
        order: 2;
        justify-content: center;
    }

    .carousel-slider img{
        margin: 1rem 1rem 0 1rem;
    }

    .carousel-nav{
        margin: 0 auto;
        flex-direction: row;
        margin-block: -1.5rem 2rem;
    }
    

    /* Category area */
    
    .category-area{
        margin-block-end: .625rem;
    }

    .category-btn button{
        width: auto;
        justify-self: center;
    }

    .category-btn button img{
        display: none;
    }

    .category-slide img{
        width: 80%;
        padding: 0;
    }

    /* Offers area */

    .offers-area{
    flex-wrap: wrap;
    margin-bottom: 2.5rem;
    }

    /* collection area */

    .collection-area{
        gap: .4375rem;
    }

    .collection{
        flex-direction: column-reverse;
        align-items: flex-start;
        border-radius: 10px;
    }

    .collection-details h3{
    font-size: clamp(14px, 2.79vw, 20px) !important;
    }

/* Support area */

    .support-area{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .support-tile-details h5{
        font-size: clamp(9px, 2.8vw, 15px);
    }

    .support-tile-details p{
        font-size: clamp(7px, 2.3vw, 13px);
    }

    /* footer area */

    .footer-top{
        padding-block: 1.5rem;
        grid-template-areas: "t t t t t t t t t t t t"
                             ". a a a a a a a i i i i";
    }
    
    .footer-text > * + *{
        margin-top: 1rem;
    }
    
    .footer-text p,
    .copyright{
        font-size: 1rem;
    }

    .footer-logo{
        width: clamp(180px, 45%, 220px);
    }

    .badge{
        margin-bottom: 28px;
        justify-content: space-evenly;
    }

    .badge a{
        height: 35px;
    }

    .badge a img{
        height: 100%;
    }
    
    .link li{
        margin-top: 0px;
    }

    .link li a{
        font-size: 1.15rem;
    }

    .footer-bottom{
        grid-template-areas: "m m m m m m m m m m m m "
                             "p p p p p p p p p p p p "
                             "c c c c c c c c c c c c ";
    }

    .media{
        place-self: center;
    }

    .media i{
        font-size: 18px;
    }

    .payment{
        justify-content: center;
    }

    .payment a{
        height: 65%;
    }

    .payment a img{
        height: 100%;
    }
}