

/* For all Slider */

.slider{
    max-width: 1710px;
    display: flex;
    overflow-x: auto;
    transform: rotateX(180deg);
    -ms-transform:rotateX(180deg); /* IE 9 */
    -webkit-transform:rotateX(180deg); /* Safari and Chrome */
}

.slider::-webkit-scrollbar{
    height: 4px;
}

.slider::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 10px;
    box-shadow: inset 0 0 0 1px white;
}

.slider::-webkit-scrollbar-thumb {
    background: var(--green-color);
    border-radius: 10px;
    cursor: pointer;
}

.slider-btn{
    display: flex;
    gap: .9375rem;
    align-items: end;
}

.slider-btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 100px;
    font-size: 1.0625rem;
    font-weight: 300;
    background: var(--light-gray-color);
    color: #a4a4a4;
}

.slider-btn-active{
    background: var(--green-color) !important;
    color: white !important;
}

.slider-tittle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5625rem;
}

.slider-tittle h3{
    font-size: 2.25rem;
    color: var(--text-color);
    font-weight: 600;
}

.slide{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    transform: rotateX(180deg);
    -ms-transform:rotateX(180deg); /* IE 9 */
    -webkit-transform:rotateX(180deg); /* Safari and Chrome */
    transition: box-shadow var(--transition) ease-in-out,
                background var(--transition) ease-in-out;
}


/* Category section */

.category-area{
    margin-block-end: 3.75rem;
}

.category-slider{
    padding: 2.5rem 0;
    gap: 1.875rem;
}

.category-slide{
    aspect-ratio: 260/220;
    gap: 1.25rem;
    padding-inline: clamp(10px, 2.3vw, 45px);
    padding-block: clamp(5px, 2.3vw, 35px);
    background: #f7f7f7;
    border: 1px solid var(--light-gray-color);
    cursor: pointer;
}

.category-slide img{
    padding-inline: clamp(15px, 1.8vw, 35px);
}

.category-slide:hover{
    background: var(--gray-color);
}

.category-slide h4{
    font-size: 1.25rem;
    font-weight: 500;
}




/* Offers Section */

.offers-area{
    display: flex;
    gap: 1.875rem;
    margin-bottom: 6.25rem;
}

.offer{
    position: relative;
}

.offer-text{
    position: absolute;
    left: clamp(5px, 8%, 70px);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.offer-text p{
    font-size: clamp(16px, 2vw, 24px);
    color: var(--text-color-2);
    margin-bottom: 5%;
    font-weight: 500;
}

.offer-text h2{
    font-size: clamp(20px, 2.4vw, 46px);
    color: var(--text-color);
    margin-bottom: 18%;
    color-scheme: only dark;
}

.offer-text button{
    padding-inline: clamp(10px, 18.5%, 50px);
    padding-block: clamp(7px, 5.5%, 15px);
    align-self: flex-start;
    border-radius: 100px;
    background: white;
    color: var(--text-color-2);
    font-size: 1.125rem;
    font-weight: 500;
    transition: background var(--transition) ease-in-out,
                color var(--transition) ease-in-out;
}

.offer-text button:hover{
    background: var(--green-color);
    color: white;
}


/* Deal area */

.deal-area{
    margin-bottom: 4.0625rem;
}

.deal-slider{
    gap: 1.875rem;
    padding-block: 2.5rem;
}

.deal-slide{
    width: clamp(120px, 18.6%, 318px);
    gap: clamp(5px, .9vw, 16.5px);
}

.slide-img{
    border-radius: 1.25rem;
    overflow: hidden;
    position: relative;
    background: #f9f9f9;
}

.hover{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity var(--transition) ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    pointer-events: none;
}

.deal-slide:hover .hover{
    pointer-events: auto;
    opacity: 1;
}

.hover span{
    width: 3.75rem;
    aspect-ratio: 1;
    font-size: 1.75rem;
    border-radius: 100px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;

    /* disable text selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.quantity{
    background: white;
    color: var(--green-color) !important;
}

.stars i{
    font-size: .8125rem;
    color: var(--gray-color);
}

.checked{
    color: #fabe50 !important;
}

.review-number{
    font-size: .875rem;
    color: var(--deep-gray-color);
}

.deal-slide h4{
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--text-color);
}

.main-price {
    text-decoration: line-through;
    font-size: 1.125rem;
    font-weight: normal;
    color: #bdbdbd;
}

.deal-slide button{
    padding-inline: clamp(5px, 23.6%, 75px);
    padding-block: clamp(5px, 4.8%, 15px);
    font-size: 1.125rem;
    border: 1px solid var(--gray-color);
    border-radius: 1.875rem;
    background: transparent;
    color: var(--green-color);
    transition: background var(--transition) ease-in-out
                color var(--transition) ease-in-out;
}

.deal-slide button:hover{
    background: var(--green-color);
    color: white;
}

.discount{
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    padding: .34rem .64rem;
    background: var(--text-color);
    border-radius: 100px;
    font-size: .875rem;
    color: white;
}

/* Brands area */

.brands-area{
    margin-bottom: 2.8125rem;
}

.brands-slider{
    gap: 1.875rem;
    padding: 1.875rem 0;
}

.brands-slide{
    width: clamp(70px, 15.25%, 260px);
    /* height: 190px; */
    aspect-ratio: 250/190;
    padding: .5rem;
    justify-content: center;
    cursor: pointer;
}

.brands-slide:hover{
    background: var(--gray-color);
}